export ENVIRONMENT=prod
export JUMPBOX_STACK_NAME=udagram-jumpbox
export NETWORK_STACK_NAME=udagram-ntwk
export WEBAPP_STACK_NAME=udagram-app
export INSTANCE_TYPE_NAME=t2.micro
export IMAGE_ID=ami-00f6a0c18edb19300
export KEY_PAIR_NAME='jump-box'
export SSH_INGRESS_CIDR='<MY_IP_ADDRESS>'
export SSH_PUBLIC_KEY_FILE='<PATH_TO_SSH_PUBLIC_KEY>'

export AWS_REGION=eu-west-2