export ENVIRONMENT=prod
export APP_NAME=udagram
export WEBAPP_STACK_NAME=udagram-app
export NETWORK_STACK_NAME=udagram-ntwk
export INSTANCE_TYPE_NAME=t3.medium
export IMAGE_ID=ami-00f6a0c18edb19300
# leave empty when deploying without jumpbox access
export KEY_PAIR_NAME=''

export AWS_REGION=eu-west-2